h1.headline{
  font-size: 48px;
  margin: 0;
  padding: 0;
}
h3{
  font-size: 24px;
}
h3.article-summary{
  font-family: freight-display-pro, serif;
  font-weight: 700;
  font-style: normal;
  margin: 0 auto;
}
p.body{
  font-family: freight-display-pro, serif;
  font-weight: 400;
  font-style: normal;
  white-space: pre-wrap;
  font-size: 18px;
}
img.article-image{
  width: 600px;
  padding: 0px 0px 15px 15px;
}
.article-body{
  display: flex;
}
.article-detail-container{
  width: 90%;
  padding-left: 5%;
}
